parameters:
	ignoreErrors:
		-
			message: '#^Default value of the parameter \#5 \$genericParameterDefs \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericParameter\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmClass.php

		-
			message: '#^Default value of the parameter \#6 \$constants \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmConstant\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmClass.php

		-
			message: '#^Default value of the parameter \#7 \$properties \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmContainerProperty\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericProperty\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSingleProperty\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSinglePropertyOpen\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmClass.php

		-
			message: '#^Default value of the parameter \#8 \$functions \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmFunction\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmClass.php

		-
			message: '#^Parameter \$constants of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmConstant\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmClass.php

		-
			message: '#^Parameter \$functions of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmFunction\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmClass.php

		-
			message: '#^Parameter \$genericParameterDefs of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericParameter\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmClass.php

		-
			message: '#^Parameter \$properties of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmContainerProperty\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericProperty\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSingleProperty\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSinglePropertyOpen\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmClass.php

		-
			message: '#^Default value of the parameter \#4 \$parameters \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmFunction\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmContainerFunctionParameter\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericFunctionParameter\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSingleFunctionParameter\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSingleFunctionParameterOpen\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmFunction.php

		-
			message: '#^Parameter \$parameters of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmFunction constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmContainerFunctionParameter\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericFunctionParameter\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSingleFunctionParameter\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSingleFunctionParameterOpen\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmFunction.php

		-
			message: '#^Default value of the parameter \#2 \$genericParameterDefs \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericType\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmContainerType\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericType\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSimpleType\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmGenericType.php

		-
			message: '#^Parameter \$genericParameterDefs of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericType constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmContainerType\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmGenericType\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSimpleType\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmGenericType.php

		-
			message: '#^Default value of the parameter \#2 \$packages \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmPackage\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmPackage\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmPackage.php

		-
			message: '#^Parameter \$packages of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmPackage constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmPackage\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmPackage.php

		-
			message: '#^Default value of the parameter \#10 \$classDefinitions \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchema\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmEnumerationInteger\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmEnumerationString\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmSchema.php

		-
			message: '#^Default value of the parameter \#11 \$includes \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchema\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchemaInclude\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmSchema.php

		-
			message: '#^Default value of the parameter \#9 \$primitiveTypes \(OpenEHR\\Tools\\CodeGen\\Model\\Collection\) of method OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchema\:\:__construct\(\) is incompatible with type \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmEnumerationInteger\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmEnumerationString\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null\.$#'
			identifier: parameter.defaultValue
			count: 1
			path: ../src/Model/Bmm/BmmSchema.php

		-
			message: '#^Parameter \$classDefinitions of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchema constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmEnumerationInteger\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmEnumerationString\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmSchema.php

		-
			message: '#^Parameter \$includes of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchema constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchemaInclude\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmSchema.php

		-
			message: '#^Parameter \$packages of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchema constructor expects iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmPackage\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmSchema.php

		-
			message: '#^Parameter \$primitiveTypes of class OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmSchema constructor expects \(iterable\<string, OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmClass\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmEnumerationInteger\|OpenEHR\\Tools\\CodeGen\\Model\\Bmm\\BmmEnumerationString\>&OpenEHR\\Tools\\CodeGen\\Model\\Collection\)\|null, OpenEHR\\Tools\\CodeGen\\Model\\Collection given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Model/Bmm/BmmSchema.php
