parameters:
	ignoreErrors:
		-
			message: "#^Class OpenEHR\\\\Tools\\\\CodeGen\\\\Model\\\\AbstractItem has an uninitialized readonly property \\$id\\. Assign it in the constructor\\.$#"
			count: 1
			path: ../src/Model/AbstractItem.php

		-
			message: "#^Class OpenEHR\\\\Tools\\\\CodeGen\\\\Model\\\\AbstractItem has an uninitialized readonly property \\$name\\. Assign it in the constructor\\.$#"
			count: 1
			path: ../src/Model/AbstractItem.php

		-
			message: "#^Property OpenEHR\\\\Tools\\\\CodeGen\\\\Model\\\\UMLFile\\:\\:\\$xmi \\(SimpleXMLElement\\) does not accept SimpleXMLElement\\|false\\.$#"
			count: 1
			path: ../src/Model/UMLFile.php




